.loader{
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -260px;
  margin-left: -180px;
}
.wing1{
	position: absolute;
	top: 48px;
	background: url(loader/wing1.gif);
	background-size: 180px,260px;
	background-repeat: no-repeat;
	width: 360px;
	height: 520px;
	animation: flap1 2s ease-in-out alternate infinite;
}
.wing2{
	position: absolute;
	top: 48px;
	background: url(loader/wing2.gif);
	background-size: 180px,260px;
	background-position: right top;
	background-repeat: no-repeat;
	width: 360px;
	height: 520px;
	animation: flap2 2s ease-in-out alternate infinite;
}
.bird{
	position: absolute;
	top: 95px;
	left: 140px;
	background: url(loader/body.gif);
	background-size: contain;
	background-repeat: no-repeat;
	width: 100px;
	height: 356px;
	z-index: 10;
}
@keyframes flap1{
	from{transform: rotateZ(0deg);}
	to{transform: rotateZ(-30deg);}
}
@-webkit-keyframes flap1{
	from{transform: rotateZ(0deg);}
	to{transform: rotateZ(-30deg);}
}
@-moz-keyframes flap1{
	from{transform: rotateZ(0deg);}
	to{transform: rotateZ(-30deg);}
}
@-o-keyframes flap1{
	from{transform: rotateZ(0deg);}
	to{transform: rotateZ(-30deg);}
}

@keyframes flap2{
	from{transform: rotateZ(0deg);}
	to{transform: rotateZ(30deg);}
}
@-webkit-keyframes flap2{
	from{transform: rotateZ(0deg);}
	to{transform: rotateZ(30deg);}
}
@-moz-keyframes flap2{
	from{transform: rotateZ(0deg);}
	to{transform: rotateZ(30deg);}
}
@-o-keyframes flap2{
	from{transform: rotateZ(0deg);}
	to{transform: rotateZ(30deg);}
}

@keyframes flyOut{
	from{top: 50%;}
	to{top: -200px;}
}

@media (max-width: 500px){
.loader{
  margin-top: -130px;
  margin-left: -90px;
}
.wing1{
	background-size: 90px,130px;
	width: 180px;
	height: 260px;
}
.wing2{
	padding-left: 7px;
	background-size: 90px,130px;
	width: 180px;
	height: 260px;
}
.bird{
	top: 70px;
	left: 70px;
	width: 50px;
	height: 178px;
}
}
@media (min-width: 500px){
.loader{
  margin-top: -260px;
  margin-left: -180px;
}
.wing1{
	background-size: 180px,260px;
	width: 360px;
	height: 520px;
}
.wing2{
	padding-left: 15px;
	background-size: 180px,260px;
	width: 360px;
	height: 520px;
}
.bird{
	left: 140px;
	width: 100px;
	height: 356px;
}
}
html, body{
  min-height: 100%;
}
body{
  position: relative;
  margin: 0;
}
.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(255,255,255,1); /*dim the background*/
}