* {
box-sizing: border-box;
}

body *:not(.overlay):not(.nightlyNav):not(.music-controls){
	z-index: 0;
}

header.header {
position: fixed;
top: 50%;
left: 0;
width: 100%;
-webkit-transform: translateY(-50%);
transform: translateY(-50%);
}
header.header h1 {
font-size: 5rem;
color: #222222;
text-align: center;
margin-top: 0;
text-transform: uppercase;
font-weight: 900;
}

.glitch-window {
position: fixed;
top: 0;
left: -2px;
width: 100%;
color: #222222;
text-shadow: 2px 0 #F9F8F8, -1px 0 yellow, -2px 0 green;
overflow: hidden;
-webkit-animation: crt-me 2500ms infinite linear alternate-reverse;
animation: crt-me 2500ms infinite linear alternate-reverse;
}

@-webkit-keyframes crt-me {
0% {
clip: rect(31px, 9999px, 94px, 0);
}
10% {
clip: rect(112px, 9999px, 76px, 0);
}
20% {
clip: rect(85px, 9999px, 77px, 0);
}
30% {
clip: rect(27px, 9999px, 97px, 0);
}
40% {
clip: rect(64px, 9999px, 98px, 0);
}
50% {
clip: rect(61px, 9999px, 85px, 0);
}
60% {
clip: rect(99px, 9999px, 114px, 0);
}
70% {
clip: rect(34px, 9999px, 115px, 0);
}
80% {
clip: rect(98px, 9999px, 129px, 0);
}
90% {
clip: rect(43px, 9999px, 96px, 0);
}
100% {
clip: rect(82px, 9999px, 64px, 0);
}
}

@keyframes crt-me {
0% {
clip: rect(31px, 9999px, 94px, 0);
}
10% {
clip: rect(112px, 9999px, 76px, 0);
}
20% {
clip: rect(85px, 9999px, 77px, 0);
}
30% {
clip: rect(27px, 9999px, 97px, 0);
}
40% {
clip: rect(64px, 9999px, 98px, 0);
}
50% {
clip: rect(61px, 9999px, 85px, 0);
}
60% {
clip: rect(99px, 9999px, 114px, 0);
}
70% {
clip: rect(34px, 9999px, 115px, 0);
}
80% {
clip: rect(98px, 9999px, 129px, 0);
}
90% {
clip: rect(43px, 9999px, 96px, 0);
}
100% {
clip: rect(82px, 9999px, 64px, 0);
}
}
.hidden{
display: none;
}
.glitched span{
	padding-right: 1px;
}
.loader{
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -260px;
  margin-left: -180px;
}
.wing1{
	position: absolute;
	top: 48px;
	background: url(loader/wing1.gif);
	background-size: 180px,260px;
	background-repeat: no-repeat;
	width: 360px;
	height: 520px;
	animation: flap1 2s ease-in-out alternate infinite;
}
.wing2{
	position: absolute;
	top: 48px;
	background: url(loader/wing2.gif);
	background-size: 180px,260px;
	background-position: right top;
	background-repeat: no-repeat;
	width: 360px;
	height: 520px;
	animation: flap2 2s ease-in-out alternate infinite;
}
.bird{
	position: absolute;
	top: 95px;
	left: 140px;
	background: url(loader/body.gif);
	background-size: contain;
	background-repeat: no-repeat;
	width: 100px;
	height: 356px;
	z-index: 10;
}
@media screen and (-webkit-min-device-pixel-ratio:0)
  and (min-resolution:.001dpcm) {
	.wing1{
		position: absolute;
		top: 48px;
		background: url(loader/wing1.webp);
		background-size: 180px,260px;
		background-repeat: no-repeat;
		width: 360px;
		height: 520px;
		animation: flap1 2s ease-in-out alternate infinite;
	}
	.wing2{
		position: absolute;
		top: 48px;
		background: url(loader/wing2.webp);
		background-size: 180px,260px;
		background-position: right top;
		background-repeat: no-repeat;
		width: 360px;
		height: 520px;
		animation: flap2 2s ease-in-out alternate infinite;
	}
    .bird{
		position: absolute;
		top: 95px;
		left: 140px;
		background: url(loader/body.webp);
		background-size: contain;
		background-repeat: no-repeat;
		width: 100px;
		height: 356px;
		z-index: 10;
	}
}
@keyframes flap1{
	from{transform: rotateZ(0deg);}
	to{transform: rotateZ(-30deg);}
}
@-webkit-keyframes flap1{
	from{transform: rotateZ(0deg);}
	to{transform: rotateZ(-30deg);}
}
@-moz-keyframes flap1{
	from{transform: rotateZ(0deg);}
	to{transform: rotateZ(-30deg);}
}
@-o-keyframes flap1{
	from{transform: rotateZ(0deg);}
	to{transform: rotateZ(-30deg);}
}

@keyframes flap2{
	from{transform: rotateZ(0deg);}
	to{transform: rotateZ(30deg);}
}
@-webkit-keyframes flap2{
	from{transform: rotateZ(0deg);}
	to{transform: rotateZ(30deg);}
}
@-moz-keyframes flap2{
	from{transform: rotateZ(0deg);}
	to{transform: rotateZ(30deg);}
}
@-o-keyframes flap2{
	from{transform: rotateZ(0deg);}
	to{transform: rotateZ(30deg);}
}

@keyframes flyOut{
	from{top: 50%;}
	to{top: -200px;}
}

@media (max-width: 500px){
.loader{
  margin-top: -130px;
  margin-left: -90px;
}
.wing1{
	background-size: 90px,130px;
	width: 180px;
	height: 260px;
}
.wing2{
	padding-left: 7px;
	background-size: 90px,130px;
	width: 180px;
	height: 260px;
}
.bird{
	top: 70px;
	left: 70px;
	width: 50px;
	height: 178px;
}
}
@media (min-width: 500px){
.loader{
  margin-top: -260px;
  margin-left: -180px;
}
.wing1{
	background-size: 180px,260px;
	width: 360px;
	height: 520px;
}
.wing2{
	padding-left: 15px;
	background-size: 180px,260px;
	width: 360px;
	height: 520px;
}
.bird{
	left: 140px;
	width: 100px;
	height: 356px;
}
}