.heading{
  top: 500px;
}
.advaitam>p{
  font-family: 'Press Start 2P', cursive;
  font-size: 50px;
  font-weight: bold;
  color: #E3D0A8;
}
.content-container{
	position: fixed;
	margin: 0 auto;
	margin-top: 13.5vw;
	width: 100%;
	padding: 0;
	color: #fff;
	font-size: 16pt;
}
.content-container:not(#home){
	padding-left: 20px;
	max-width: 95%;
}
.content-displayed{
	display: none;
}
#main-content{
	display: none;
}
/* Basic Page Styling */
html, body {
  min-height: 1200%;
  margin: 0;
}
body {
  background: url(../images/eventBack.jpg), #121d31;
  background-size: contain;
  background-position: top;
  background-repeat: repeat-x;
}
/* Media queries for screens with larger heights */
/*@media only screen and (max-aspect-ratio: 356/235){
	body{
		background-size: cover;
	}
}*/
.overlay{
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  font-family: 'Raleway', sans-serif;
  background-color: rgba(255,255,255,1); /*dim the background*/
}
/*Music Controls*/
.music-controls img{
	width: 50px;
	height: 50px;
}
.music-controls{
	display: block;
	position: fixed;
	bottom: 80px;
	right: -140px;
	transition: right 1s;
	-webkit-transition: right 1s;
	z-index: 1;
}
.music-controls:hover{
	right: 10px;
}
.timebar{
	display: inline-block;
	width: 100px;
	height: 10px;
	border-radius: 8px;
	background-color: #ffe2c4;
}
.filler{
	width: 10px;
	height: 10px;
	border-radius: 8px;
	background-color: #ff7566;
}
.playbtn{
	text-decoration: none;
	color: #ff7566;
}
.playbtn:hover{
	color: #fc513f;
}
.animatedplaybtn{
	border-radius: 100px;
	background: transparent;
	animation: waves 500ms 100 ease-in-out alternate-reverse;
	-webkit-animation: waves 500ms 100 ease-in-out alternate-reverse;
}
@keyframes waves{
	0%{background: radial-gradient(circle, rgba(255,255,255,1), rgba(255,255,255,0));},
	25%{background: radial-gradient(circle, rgba(255,255,255,0.8), rgba(255,255,255,0.5), rgba(255,255,255,0.3));}
	50%{background: radial-gradient(circle, rgba(255,255,255,0.6), rgba(255,255,255,0.8), rgba(255,255,255,0.6));}
	75%{background: radial-gradient(circle, rgba(255,255,255,0.4), rgba(255,255,255,0.9), rgba(255,255,255,0.9));}
	100%{background: radial-gradient(circle, rgba(255,255,255,0), rgba(255,255,255,1), rgba(255,255,255,1));}
}
@-webkit-keyframes waves{
	0%{background: radial-gradient(circle, rgba(255,255,255,1), rgba(255,255,255,0));},
	25%{background: radial-gradient(circle, rgba(255,255,255,0.8), rgba(255,255,255,0.5), rgba(255,255,255,0.3));}
	50%{background: radial-gradient(circle, rgba(255,255,255,0.6), rgba(255,255,255,0.8), rgba(255,255,255,0.6));}
	75%{background: radial-gradient(circle, rgba(255,255,255,0.4), rgba(255,255,255,0.9), rgba(255,255,255,0.9));}
	100%{background: radial-gradient(circle, rgba(255,255,255,0), rgba(255,255,255,1), rgba(255,255,255,1));}
}
.control{
	width: 0px;
	transition: width 2s;
}

/* Content Specific Stylings */
#go-diamond{
	display: block;
	position: fixed;
	bottom: 15px;
	left: 48%;
	width: 50px;
	height: 50px;
	border: 1px solid #fff;
	box-shadow: 0 0 10px #fff;
	transform: rotateZ(45deg);
	cursor: pointer;
}
#go-diamond .text{
	position: absolute;
	width: 25px;
	height: 25px;
	border: 1px solid #fff;
	border-top: 0;
	border-left: 0;
	top: 15%;
	left: 15%;
	-webkit-animation: hops 800ms infinite ease-in alternate-reverse;
	animation: hops 1s infinite ease-out 1s alternate-reverse;
}
@keyframes hops{
	50%{
		transform: translate(0, 0);
	}
	100%{
		transform: translate(-5px,-5px);
	}
}
@-webkit-keyframes hops{
	50%{
		transform: translate(0, 0);
	}
	100%{
		transform: translate(-5px,-5px);
	}
}

@media only screen and (max-width: 767px){
	.content-container{
		position: relative;
	}
	html,body{
		min-height: 100%;
	}
}

/* SCROLL BAR */
body::-webkit-scrollbar {
    width: 0.3em;
}
 
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 5px rgb(49, 81, 145);
}
 
body::-webkit-scrollbar-thumb {
  background-color: #929db2;
  outline: 1px solid rgb(49, 81, 145);
}
/* HOME */
#home{
	text-align: center;
}
#home .big-timer{
	color: #fff;
	font-size: 20pt;
	font-family: 'League-Gothic';
}
#home .big-timer .num{
	padding-left: 3px;
	font-size: 36pt;
	letter-spacing: 0.04em;
	font-weight: 500;
}
#home .caption{
	display: block;
	width: 40vw;
	min-width: 200px;
	margin: 0 auto;
}