.heading{
  top: 500px;
}
.advaitam>p{
  font-family: 'Press Start 2P', cursive;
  font-size: 50px;
  font-weight: bold;
  color: #E3D0A8;
}

section{
  height: 100vh;
}
section:nth-child(1) {
  /*background: lightblue;*/
}
section:nth-child(2) {
  background: black;
}

/* Basic Page Styling */
html {
  height: 100%;
}
body {
  min-height: 100%;
  background: url(../images/eventBack.jpg);
  background-size: contain;
  background-position: center;
  background-repeat: repeat-x;
}
/* Media queries for screens with larger heights */
@media only screen and (max-aspect-ratio: 356/235){
	body{
		background-size: cover;
	}
}
.overlay{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(255,255,255,1); /*dim the background*/
}
/*Music Controls*/
.music-controls img{
	width: 50px;
	height: 50px;
}
.music-controls{
	display: block;
	position: fixed;
	bottom: 20px;
	right: -140px;
	transition: right 1s;
	-webkit-transition: right 1s;
}
.music-controls:hover{
	right: 10px;
}
.timebar{
	display: inline-block;
	width: 100px;
	height: 10px;
	border-radius: 8px;
	background-color: #ffe2c4;
}
.filler{
	width: 10px;
	height: 10px;
	border-radius: 8px;
	background-color: #ff7566;
}
.playbtn{
	text-decoration: none;
	color: #ff7566;
}
.playbtn:hover{
	color: #fc513f;
}
.animatedplaybtn{
	border-radius: 100px;
	background: transparent;
	animation: waves 500ms 100 ease-in-out alternate-reverse;
	-webkit-animation: waves 500ms 100 ease-in-out alternate-reverse;
}
@keyframes waves{
	0%{background: radial-gradient(circle, rgba(255,255,255,1), rgba(255,255,255,0));},
	25%{background: radial-gradient(circle, rgba(255,255,255,0.8), rgba(255,255,255,0.5), rgba(255,255,255,0.3));}
	50%{background: radial-gradient(circle, rgba(255,255,255,0.6), rgba(255,255,255,0.8), rgba(255,255,255,0.6));}
	75%{background: radial-gradient(circle, rgba(255,255,255,0.4), rgba(255,255,255,0.9), rgba(255,255,255,0.9));}
	100%{background: radial-gradient(circle, rgba(255,255,255,0), rgba(255,255,255,1), rgba(255,255,255,1));}
}
@-webkit-keyframes waves{
	0%{background: radial-gradient(circle, rgba(255,255,255,1), rgba(255,255,255,0));},
	25%{background: radial-gradient(circle, rgba(255,255,255,0.8), rgba(255,255,255,0.5), rgba(255,255,255,0.3));}
	50%{background: radial-gradient(circle, rgba(255,255,255,0.6), rgba(255,255,255,0.8), rgba(255,255,255,0.6));}
	75%{background: radial-gradient(circle, rgba(255,255,255,0.4), rgba(255,255,255,0.9), rgba(255,255,255,0.9));}
	100%{background: radial-gradient(circle, rgba(255,255,255,0), rgba(255,255,255,1), rgba(255,255,255,1));}
}
.control{
	width: 0px;
	transition: width 2s;
}