/* Basic Page Styling */
html, body {
  min-height: 800%;
  margin: 0;
}
body {
  background: url(../images/eventBack.jpg), #121d31;
  background-size: contain;
  background-position: top;
  background-repeat: repeat-x;
  padding-bottom: 100px;
  overflow-x: hidden;
}
.microdata{
	display: none;
}
.content-container{
	position: fixed;
	margin: 0 auto;
	margin-top: 13.5vw;
	width: 100%;
	padding: 0;
	color: #fff;
	font-size: 16pt;
}
.content-container:not(#home){
	padding-left: 20px;
	overflow-y: hidden;
	height: 100%;
	width:	65vw;
	margin-left: 25vw;
}
@media only screen and (max-width: 767px){
	.content-container:not(#home){
		width: 100vw;
		margin-left: 0;
	}
}
.content-displayed{
	display: none;
	font-family: 'Oswald', sans-serif;
}
#main-content{
	display: none;
}
.fa-techno{
	margin: 0;
	background: url(../images/ferris.png);
	background-size: contain;
	background-position: center;
	width: 10vw;
	height: 10vw;
}
section.labeled:nth-of-type(odd) > *{
	margin-left: 15%;
	padding-right: 10px;
}
section.labeled:nth-of-type(odd) > i.fa,section.labeled:nth-of-type(odd) > .fa-custom{
	position: absolute;
	top: 10%;
	margin-left: 0px;
	font-size: 10vw;
}
section.labeled:nth-of-type(even) > *{
	margin-right: 25%;
}
section.labeled:nth-of-type(even) > i.fa,section.labeled:nth-of-type(even) > .fa-custom{
	position: absolute;
    top: 2%;
    margin-top: 20px;
    right: -12vw;
    font-size: 8vw;
}
.overlay{
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  font-family: 'Raleway', sans-serif;
  background-color: rgba(255,255,255,1); /*dim the background*/
}
#particle{
	background: transparent;
	position: fixed;
	top: 0;
	right:0;
	bottom:0;
	left:0;
	z-index:0;
}
/*Music Controls*/
.music-controls img{
	width: 50px;
	height: 50px;
}
.music-controls{
	display: block;
	position: fixed;
	bottom: 80px;
	right: -140px;
	transition: right 1s;
	-webkit-transition: right 1s;
	z-index: 1;
}
.music-controls:hover{
	right: 10px;
}
.timebar{
	display: inline-block;
	width: 100px;
	height: 10px;
	border-radius: 8px;
	background-color: #ffe2c4;
}
.filler{
	width: 10px;
	height: 10px;
	border-radius: 8px;
	background-color: #ff7566;
}
.playbtn{
	text-decoration: none;
	color: #ff7566;
}
.playbtn:hover{
	color: #fc513f;
}
.control{
	width: 0px;
	transition: width 2s;
}

/* Adhesive Fixes */

@media only screen and (max-width: 767px){
	#home{
        top: 40%;
        margin-top: 0;
	}
    #about,#cultural{
        top: 10%;
        margin-top: 0;
    }
}

/* SCROLL BAR */
::-webkit-scrollbar {
    width: 0.3em;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 5px rgb(49, 81, 145);
}
 
::-webkit-scrollbar-thumb {
  background-color: #929db2;
  outline: 1px solid rgb(49, 81, 145);
}
/* HOME */
#home{
	text-align: center;
}
#home .big-timer{
	color: #fff;
	font-size: 20pt;
	font-family: 'League-Gothic';
}
#home .big-timer .num{
	padding-left: 3px;
	font-size: 36pt;
	letter-spacing: 0.04em;
	font-weight: 500;
}
#home .caption{
	display: block;
	width: 40vw;
	min-width: 200px;
	margin: 0 auto;
}
/*OVERVIEW*/
#overview{
	margin-top: 20%;
}
@media only screen and (min-width: 767px){
	#overview{
		margin-left: 40vw !important;
	}
}
#overview > h3{
	margin-top: 10px;
	margin-bottom: 0px;
	margin-left: 50px !important;
	font-size: 30px;
}
#overview > .fa-custom{
	top: 0px;
}
#overview > *:not(.fa-custom){
	margin-left: 5%;
}
.connector-holder{
	margin: 0 auto;
	width: 5px;
	height: 15px;
	background: transparent;
}
.connector{
	width: 5px;
	background: #fff;
}
.progress{
    width: 25px;
    height: 25px;
    line-height: 25px;
    background: none;
    margin: 0 auto;
    box-shadow: none;
    position: relative;
}
.progress:after{
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
}
.progress > span{
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
}
.progress .progress-left{
    left: 0;
}
.progress .progress-bar{
    width: 100%;
    height: 100%;
    background: none;
    border-width: 3px;
    border-style: solid;
    position: absolute;
    top: 0;
}
.progress .progress-left .progress-bar{
    left: 100%;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    border-left: 0;
    -webkit-transform-origin: center left;
    transform-origin: center left;
}
.progress .progress-right{
    right: 0;
}
.progress .progress-right .progress-bar{
    left: -100%;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    border-right: 0;
    -webkit-transform-origin: center right;
    transform-origin: center right;
}
.progress .progress-value{
    width: 90%;
    height: 90%;
    border-radius: 50%;
    background: transparent;
    font-size: 2px;
    color: #fff;
    line-height: 73px;
    text-align: center;
    position: absolute;
    top: 5%;
    left: 5%;
}
.progress .progress-bar{
    border-color: #fff;
}

/*MEDIA COVERAGE*/
.stagelight-left{
	position: fixed;
	top: -30%;
    left: 20%;
	width: 5px;
	height: 200%;
    filter: blur(10px) drop-shadow(30px 30px 10px);
	image-rendering: crisp-edges;
	background: #fff;
}
.stagelight-right{
	position: fixed;
	top: -32%;
    right: 8%;
	width: 5px;
	height: 200%;
    filter: blur(10px) drop-shadow(30px 30px 10px);
	image-rendering: crisp-edges;
	background: #fff;
}

/* Smaller Screens Fixes */
@media only screen and (max-width: 767px){
    #about > .fa, #quiz > .fa{
        right: initial;
        left: initial;
        top: initial;
        bottom: initial;
        margin-left: 30vw;
        font-size: 60pt;
    }
    #about > p, #quiz > p{
        margin-right: initial;
        padding-right: 2px;
        margin-left: initial;
    }
    #cultural > .fa-custom{
        top: 120px;
        left: initial;
        right: initial;
        bottom: initial;
        margin-left: 30vw;
        width: 100px;
        height: 100px;
    }
    #cultural > p{
        margin-left: initial;
    }
}

/*EVENTS*/
.mario{
	width: 50px;
	height: 50px;
	background: url(../images/mario.gif) no-repeat;
	background-size: contain;
}
.img-thumbnail{
	background-color: transparent;
	border: 0;
}
@media only screen and (max-width: 767px){
.games > div{
	display: inline;
}
}
/* APP REDIRECT */
#app_btn{
	display: block;
	text-transform: uppercase;
	text-decoration: none;
	margin: 0 auto;
	max-width: 200px;
	padding: 10px;
	border: 1px solid #fff;
	border-radius: 8px;
	color: #fff;
	-webkit-transition: background-color 0.5s, color 0.5s;
	transition: background-color 0.5s, color 0.5s;
}
#app_btn:hover{
	background-color: #fff;
	color: #000;
}

/*CONTACTS */
.contact-container-special{
    margin-left: 0px !important;
    margin-right: 0px !important;
    width: 100% !important;
    padding-right: 20px !important;
}
.departments{
    position: fixed;
}
.departments > ul > li{
    text-transform: uppercase;
    list-style-type: none;
    font-family: 'Shadows Into Light Two', serif;
    text-align: center;
    cursor: pointer;
    font-size: 20pt;
    letter-spacing: 0.2em;
    padding: 10px;
}
.departments > ul > li.active{
    font-weight: bold;
    font-size: 24pt;
}
.contacts{
    float: right !important;
}
@media only screen and (max-width: 767px){
    .departments{
        display: none;
    }
    .contacts{
        float: left !important;
        width: 100%;
    }
}
.contacts img{
    max-width: 200px;
    border-radius: 50%;
}
.contacts > .row > h3{
    text-align: center;
}