@font-face {
    font-family: 'League-Gothic';
    src:url('League-Gothic.ttf.woff') format('woff'),
        url('League-Gothic.ttf.svg#League-Gothic') format('svg'),
        url('League-Gothic.ttf.eot'),
        url('League-Gothic.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}
#mobileNav{
	display: none;
	position: fixed;
	width: 100%;
	background: transparent;
	z-index: 1;
}
.nightlyNav{
	position: absolute;
	z-index: 1;
}
.nightlyNav > ul{
	display: inline-block;
	position: fixed;
	top: 20px;
	padding: 0px;
    margin: 0 auto;
}
.bar{
    display:block;
    border:none;
    color:white;
    margin: 0 auto;
    width: 100%;
    height: 2px;
    background: white;
}
.nightlyNav > ul > li{
	display: inline-block;
	padding: 3px;
	padding-left: 3vw;
	padding-right: 3vw;
	font-size: 20pt;
}
.nightlyNav > ul > li a{
	text-decoration: none;
	font-family: 'League-Gothic';
	text-transform: uppercase;
	color: #fff;
}
.nightlyNav > ul > li a:hover{
	color: #d8d8d8;
}
.nightlyNav > ul.leftbar{
	left: 1%;
	width: 44%;
	text-align: right;
}
.nightlyNav > ul.leftbar > .bar{
	background: linear-gradient(to left, #fff, #4c1a30);
	background: linear-gradient(to left, rgba(255, 255, 255, 1), rgba(76, 26, 48,0.2));
}
.nightlyNav > ul.rightbar > .bar{
	background: linear-gradient(to right, #fff, #4c1a30);
	background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(76, 26, 48,0.2));
}
.nightlyNav > ul.rightbar{
	left: 55%;
	width: 44%;
	text-align: left;
}
.nightlyNav > .centerbar{
	display: inline-block;
	position: fixed;
	top: 64px;
    margin: 0 auto;
	left: 45%;
	width: 10vw;
	height: 5vw;
    border-bottom-left-radius: 5vw;
    border-bottom-right-radius: 5vw;
    border: 2px solid white;
    border-top: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.nightlyNav > .centerbar > #barlogo{
	display: inline-block;
	position: fixed;
	top: 0px;
    margin: 0 auto;
	left: 45%;
	width: 10vw;
	height: 10vw;
	background: url(loader/logo.png);
	background-size: contain;
	background-repeat: no-repeat;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.sidenav {
	display: none;
    height: 100%;
    width: 0;
    position: absolute;
    z-index: 1;
    top: 48px;
    left: 0;
    background-color: rgba(0,0,0,0.9);
    overflow-x: hidden;
	white-space: nowrap;
    transition: 0.5s;
    padding-top: 60px;
}
#sidenav-toggle,.sidenav{
	position: fixed;
	z-index: 1 !important;
}
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.4s;
}

/* Rotate first bar */
.closebtn .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
	-moz-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}

/* Fade out the second bar */
.closebtn .bar2 {
    opacity: 0;
	/* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";

  /* IE 5-7 */
  filter: alpha(opacity=0);

  /* Netscape */
  -moz-opacity: 0;

  /* Safari 1.x */
  -khtml-opacity: 0;
}

/* Rotate last bar */
.closebtn .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
	-moz-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 26pt;
	font-family: 'League-Gothic';
	text-transform: uppercase;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
#mobileNav{
	background: transparent;
}
#mobileNav .container-fluid h3{
	display: inline-block;
	position: fixed;
	top: 10px;
	left: 28.5%;
	margin: auto;
	font-family: 'Press Start 2P', cursive;
	font-size: 15pt;
	text-transform: uppercase;
	text-shadow: 1px 2px rgba(0, 0, 0, .2);
}
#mobileNav .container-fluid *{
	text-decoration: none;
	color: #fff;
}
#footer-nav, #footer-nav *{
	padding-top: 0;
	padding-bottom: 0;
	min-height: 20px !important;
	height: 20px;
	font-size: 12pt;
	font-family: 'Oswald', Helvetica, sans-serif;
}
#footer-nav li{
	display: inline-block;
}
#footer-nav a{
	text-decoration: none;
	color: #777;
	transition: color 0.5s;
}
#footer-nav a:hover{
	color: #000;
}
#footer-nav > .navbar-right{
	padding-right: 20px;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 25px;}
}
@media only screen and (max-width: 952px){
	.nightlyNav > ul > li{
		padding-left: 1.8vw;
		padding-right: 1.8vw;
	}
	
}
@media only screen and (max-width: 767px){
	.nightlyNav{
		display: none;
	}
	#mobileNav,.sidenav{
		display: block;
	}
	#footer-nav > .navbar-right{
		display: block;
	}
	#footer-nav > .navbar-nav{
		margin:0;
		margin-left: 50%;
		transform: translateX(-44%);
		padding:0;
		white-space:nowrap;
	}
}